extends layout

block jumbotron
  .jumbotron
    h1.text-center Bill
    h3.text-center.lead 好用的记账工具
    h1.text-center
      a.btn.btn-default.btn-lg(href="/user/login") 登  录
      | &nbsp;
      a.btn.btn-default.btn-lg(href="/user/signup") 注  册
