extends layout
block css
  link(rel='stylesheet', href='/bootstrap-datepicker/css/datepicker3.css')

block content
  #mainView
    .row.head
      .col-xs-4.col-sm-2
        p #{user}
      .col-xs-4.col-xs-offset-4.col-sm-2.col-sm-offset-8    
        button#mainViewBtnAdd.btn.btn-default.pull-right 记一笔
    hr
    p <span id="mainViewSpanYear"></span>年 <span id="mainViewSpanMonth"></span>月 总计 <strong id="mainViewMonthTotal"></strong>元 &nbsp;&nbsp;
      button#mainViewBtnChooseData.btn.btn-sm.btn-default 选择月份
    p 年度总计: <strong id="mainViewYearTotal">100</strong>元
    hr

    //tabs
    ul.nav.nav-tabs
      li.active
        a(href="#mainViewTabMonth", data-toggle="tab") 本月流水
      li
        a(href="#mainViewTabMonthAnalysis", data-toggle="tab") 月账分析
    br

    //tab panes
    .tab-content
      .tab-pane.active#mainViewTabMonth      
        #mainViewBillList

      .tab-pane#mainViewTabMonthAnalysis      
        p 本月目标: <strong id="mainViewSpanGoal"></strong>&nbsp;<button id="mainViewBtnSetGoal" class="btn btn-default btn-sm">设置</button>
        p 已完成: <strong id="complete"></strong>
        hr
        h4 TOP3
        #topList
        hr
        h4 条状图
        br
        .row
          .col-xs-2
            p.text-right 衣
          .progress
              #cat1.progress-bar.progress-bar-danger(style="width: 0%") 5%
        .row
          .col-xs-2
            p.text-right 食
          .progress
              #cat2.progress-bar.progress-bar-danger(style="width: 0%")
        .row
          .col-xs-2
            p.text-right 住
          .progress
              #cat3.progress-bar.progress-bar-danger(style="width: 0%")
        .row
          .col-xs-2
            p.text-right 行
          .progress
              #cat4.progress-bar.progress-bar-danger(style="width: 0%")
        .row
          .col-xs-2
            p.text-right 用
          .progress
              #cat5.progress-bar.progress-bar-danger(style="width: 0%")
        .row
          .col-xs-2
            p.text-right 其它
          .progress
              #cat6.progress-bar.progress-bar-danger(style="width: 0%")

    br
    br
    br
    br
    hr
    p.text-center.copyright
      | &copy; Jiansoft.com

  #addBill(style="display:none")
    .row.head
      .col-xs-4.col-sm-2
        p #{user}
    hr
    form(name="addBill")
      .form-header
        h4 记一笔
      .form-body
        .form-group
          label.col-sm-2.control-label 简述
          .col-sm-10
            input#addBillViewInDscr.form-control(required)
        .form-group
          label.col-sm-2.control-label 分类
          .col-sm-10
            select#addBillViewInCategory.form-control(required)
              option 衣
              option 食
              option 住
              option 行
              option 用
              option 其它
        .form-group
          label.col-sm-2.control-label 花费
          .col-sm-10
            .input-group
              span.input-group-addon ￥
              input#addBillViewInSpend.form-control(type="number", step="any", min=0, required)            
        .form-group
          .col-sm-offset-2.col-sm-10
            button#addBillViewBtnCancel.btn.btn-default 取消
            | &nbsp;
            button#addBillViewBtnSave.btn.btn-default 保存
            | &nbsp;
            button#addBillViewBtnDelete.btn.btn-default 删除

  #chooseDate(style="display:none")
    form
      .form-header.text-center
        h4 选择月份
      .form-body
        .datepicker
        .form-group.text-center
          button#chooseDateBtnCancel.btn.btn-default 取消
          | &nbsp;
          button#chooseDateBtnOK.btn.btn-default 确认

  

  script(type="text/template", id="item-template")
    .row
      .col-xs-2.text-center
        p.cate <%- category %>
      .col-xs-7
        p.dscr <%- dscr %>
        p.date <%- date %>
      .col-xs-3
        p.spend <%- spend %>
    hr

  

block js
  script(src="/bootstrap-datepicker/js/bootstrap-datepicker.js")
  script(src="/bootstrap-datepicker/js/locales/bootstrap-datepicker.zh-CN.js")
  script(src="/underscore/underscore-min.js")
  script(src="/backbone/backbone.js")
  script(src="/bill-backbone-app.js")


